---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/home/Hero.astro";
---

<Layout>
  <Hero />

  <div class="px-4">
    <SectionContainer id="experiencia">
      <h2 class="mb-6 flex items-center gap-x-3 text-3xl font-semibold">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="mb-6 flex items-center gap-x-3 text-3xl font-semibold">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2 class="mb-6 flex items-center gap-x-3 text-3xl font-semibold">
        <ProfileCheck class="size-7" />
        Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
