---
import Layout from "../../layouts/Layout.astro";
import AboutMe from "./AboutMe.astro";
import Projects from "./Projects.astro";
import Hero from "./Hero.astro";
import Experience from "./Experience.astro";
---

<Layout>
  <Hero />

  <div class="px-4">
    <Experience />

    <Projects />

    <AboutMe />
  </div>
</Layout>
