---
import SectionContainer from "../SectionContainer.astro";
import CodeIcon from "../icons/Code.astro";
import ProjectsData from "./ProjectsData.astro";
import { getI18N } from "@/i18n";
import { useTranslations, getLangFromUrl } from "@/i18n/utils";

const { currentLocale } = Astro;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const i18n = getI18N({ currentLocale });
---

<SectionContainer id={t("id.proyectos")}>
  <h2 class="mb-6 flex items-center gap-x-3 text-3xl font-semibold">
    <CodeIcon class="size-7" />
    {i18n.PROJECTS_TITLE}
  </h2>
  <ProjectsData />
</SectionContainer>
