---
import ExperienceItem, { type ExperienceProps } from "./ExperienceItem.astro";
const EXPERIENCE: ExperienceProps[] = [
  {
    date: "Actualmente...",
    title: "Desarrollador Web Full Stack",
    company: "Freelance",
    description:
      "He liderado la creación de soluciones web variadas, desde el desarrollo de 'L Taxis', conocido como el Uber Venezolano, hasta sistemas administrativos para comercios y sitios web corporativos. Mi asesoramiento a equipos sobre prácticas de desarrollo ágil ha optimizado procesos y resultados. Mi enfoque se centra en ofrecer experiencias de usuario mejoradas y resultados de negocio tangibles, a través de soluciones web personalizadas y efectivas.",
  },
  {
    date: "Septiembre 2022",
    title: "Principal Full Stack Engineer",
    company: "Rhino Dev",
    description:
      "Lideré el equipo de desarrollo, adoptando prácticas ágiles que aceleraron la entrega de proyectos a clientes de alto perfil como Chevron. Mejoramos el rendimiento utilizando tecnologías modernas de JavaScript y potencié el crecimiento de un desarrollador Junior, mejorando la productividad y calidad del equipo.",
  },
  {
    date: "Marzo 2022",
    title: "Principal Frontend Engineer",
    company: "Web Soluciones Digitales",
    description:
      "Responsable de un salto en la eficiencia, aumentando un 40% la velocidad de atención al cliente con un CRM a medida y mejorando un 85% el rendimiento del sitio web empresarial al migrar de Wordpress a React. Impulsé el rendimiento de sitios cliente adoptando tecnologías modernas como SSR y SSG, desplazando el uso de jQuery y Wordpress, marcando un antes y un después en la agilidad y calidad del servicio ofrecido.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
