---
import Logo from "./Logo.astro";
---

<!-- desktop -->
<div class="nav animate-fade-in">
  <a href="/" aria-current="page" class="flex items-center justify-center">
    <Logo />
  </a>

  <div class="flex items-center justify-center">
    <a href="/" class="nav-item">Inicio</a>
    <a href="#experiencia" class="nav-item">Experiencia</a>
    <a href="#proyectos" class="nav-item">Proyectos</a><a
      href="#sobre-mi"
      class="nav-item">Sobre mi</a
    >
  </div>

  <div class="flex items-center justify-center">
    <a
      href="mailto:soyricardodev@proton.me"
      class="flex items-center rounded-full border border-white/10 px-4 py-2 text-sm font-semibold leading-6 backdrop-blur-lg transition-colors hover:border-white/20"
    >
      Contacto
    </a>
  </div>
</div>

<!-- mobile -->
<div class="mobile-nav">
  <div class="mobile-nav-list-float">
    <a href="#experiencia" class="nav-item float">Experiencia</a><a
      href="#proyectos"
      class="nav-item float">Proyectos</a
    ><a href="#sobre-mi" class="nav-item float">Sobre mi</a><a
      href="/"
      aria-current="page"
      class="logo-mobile"><Logo /></a
    ><div class="mobile-nav-cta-flex">
      <a
        href="mailto:soyricardodev@proton.me"
        class="button-secondary left float mobile"
        ><div class="button-text float">Contacto</div></a
      >
    </div>
  </div>
</div>

<!-- floating -->
<div
  id="nav-float"
  class="nav-list-float float-hidden transition-all delay-300"
>
  <a href="/" class="nav-item float">Inicio</a><a
    href="#experiencia"
    class="nav-item float">Experiencia</a
  ><a href="#proyectos" class="nav-item float">Proyectos</a><a
    href="mailto:soyricardodev@proton.me"
    class="button-secondary-nav left float"
    ><div class="button-text float">Contacto</div></a
  >
  <div class="mobile-nav-cta-flex">
    <a href="mailto:soyricardodev@proton.me" class="nav-item float login"
      >Contacto</a
    ><a
      href="mailto:soyricardodev@proton.me"
      class="button-secondary left float mobile"
    >
    </a><div></div>
  </div>

  <script>
    document.addEventListener("astro:page-load", () => {
      const navFloat = document.getElementById("nav-float");
      window.addEventListener("scroll", () => {
        if (window.scrollY > 150) {
          if (navFloat) {
            navFloat.classList.remove("float-hidden");
            navFloat.classList.add("float-show");
          }
        } else {
          if (navFloat) {
            navFloat.classList.add("float-hidden");
            navFloat.classList.remove("float-show");
          }
        }
      });
    });
  </script>

  <style>
    .float-hidden {
      transform: translate3d(0px, -80px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg);
      transform-style: preserve-3d;
    }
    .float-show {
      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg);
      transform-style: preserve-3d;
    }
    .logo-link {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .nav {
      grid-template-columns: 0.5fr 2fr 0.5fr;
      @apply relative mx-auto grid w-full px-8 py-2 text-base;
    }

    .nav-item {
      @apply p-5 text-sm font-medium text-neutral-100 transition-colors hover:text-white;
    }
    .nav-item.float {
      @apply p-4 text-sm text-white transition-colors hover:text-white/50;
    }

    .button-text {
      letter-spacing: 0.2px;
      font-size: 14px;
      font-weight: 600;
    }

    .button-secondary {
      display: none;
      @apply rounded-full border border-white/20 bg-transparent px-4 py-2 font-normal leading-6 hover:[box-shadow:0_10px_20px_rgba(0_0_0_.1)];
    }
    .button-secondary.left {
      -webkit-backdrop-filter: blur(16px);
      backdrop-filter: blur(16px);
      border-color: rgba(255, 255, 255, 0.08);
      margin-right: 12px;
      transition: border-color 0.2s;
      display: none;
      @apply mr-3 border border-white/10 backdrop-blur-lg transition-colors hover:border-black/25 hover:shadow-none;
    }
    .button-secondary.left.float {
      @apply mr-0 border border-white/0 bg-neutral-800 transition-colors hover:border-white/25 md:hidden;
    }
    .button-secondary.left.float.mobile {
      @apply flex md:hidden;
    }
    .mobile-nav-cta-flex {
      align-items: center;
      display: none;
    }
    .logo-mobile,
    .mobile-nav {
      display: none;
    }
    .mobile-nav-list-float {
      z-index: 5000;
      -webkit-backdrop-filter: blur(16px);
      backdrop-filter: blur(16px);
      background-color: rgba(255, 255, 255, 0.08);
      border: 1px solid rgba(255, 255, 255, 0.08);
      border-radius: 32px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      position: fixed;
      top: 12px;
      bottom: auto;
      left: 0%;
      right: 0%;
      width: 428px;
    }

    @media screen and (max-width: 767px) {
      .nav,
      .nav-item.float {
        display: none;
      }
      .nav-item.float.login {
        display: block;
      }

      .mobile-nav-cta-flex {
        display: flex;
      }
      .logo-mobile {
        margin-left: 9px;
        display: block;
      }
      .mobile-nav {
        z-index: 5000;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        display: block;
        position: fixed;
        top: 16px;
      }
      .mobile-nav-list-float {
        width: 100%;
        height: 48px;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;
        padding-left: 6px;
        padding-right: 6px;
        display: flex;
        position: static;
      }
    }

    .nav-list-float {
      z-index: 5000;
      -webkit-backdrop-filter: blur(16px);
      backdrop-filter: blur(16px);
      background-color: rgba(255, 255, 255, 0.08);
      border: 1px solid rgba(255, 255, 255, 0.08);
      border-radius: 32px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      position: fixed;
      top: 12px;
      bottom: auto;
      left: 0%;
      right: 0%;

      @apply hidden max-w-max px-1 md:flex;
    }

    .button-secondary-nav {
      color: #fff;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 32px;
      align-items: center;
      padding: 6px 16px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none;
      display: none;
    }
    .button-secondary-nav:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
    .button-secondary-nav.left {
      -webkit-backdrop-filter: blur(16px);
      backdrop-filter: blur(16px);
      border-color: rgba(255, 255, 255, 0.08);
      margin-right: 12px;
      transition: border-color 0.2s;
      display: flex;
    }
    .button-secondary-nav.left:hover {
      box-shadow: none;
      border-color: rgba(255, 255, 255, 0.25);
    }
    .button-secondary-nav.left.float {
      background-color: #171719;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0);
      margin-right: 0;
      transition:
        background-color 0.2s,
        border-color 0.2s;
    }
    .button-secondary-nav.left.float:hover {
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.25);
    }
  </style>
</div>
