---
import "@fontsource-variable/onest";

import { ViewTransitions } from "astro:transitions";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import SEO_DEFAULTS from "@/constants/seo";
import MouseTrailer from "@/components/MouseTrailer.astro";

interface Props {
  title?: string;
  description?: string;
}

const { description = SEO_DEFAULTS.description, title = SEO_DEFAULTS.title } =
  Astro.props;
---

<!doctype html>
<html
  lang="es"
  class="dark scroll-smooth font-sans [font-display:swap] motion-reduce:scroll-auto"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body
    class="antialised relative flex min-h-dvh flex-col overflow-x-hidden overscroll-none text-neutral-950/90 dark:text-white"
  >
    <div class="relative size-full bg-neutral-950">
      <div
        class="absolute inset-y-0 right-0 size-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
      >
      </div>
      <div
        class="absolute inset-y-0 right-0 size-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
      >
      </div>
    </div>
    <div
      class="absolute inset-y-0 z-[-2] min-h-screen w-full bg-neutral-100 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))] dark:bg-neutral-950
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,#5073b850,rgba(0,0,0,80))]"
    >
    </div>

    <Header />
    <slot />
    <Footer />
    <MouseTrailer />
    <style is:global>
      :root {
        --yellow: #f79533;
        --orange: #f37055;
        --pink: #ef4e7b;
        --purple: #a166ab;
        --blue: #5073b8;
        --cyan: #1098ad;
        --green: #07b39b;
        --lime: #6fba82;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply text-balance;
      }

      p {
        @apply text-pretty;
      }

      @keyframes blur {
        to {
          @apply flex flex-row items-center rounded-full border border-black bg-slate-50 px-3 py-1 backdrop-blur-xl;
        }
      }

      @media (prefers-color-scheme: dark) {
        @keyframes blur {
          from {
            @apply border-0;
          }
          to {
            box-shadow:
              0px 5px 50px -5px rgba(0, 0, 0, 0.1),
              0px 0px 0 1px rgba(0, 0, 0, 0.3);

            @apply flex flex-row items-center rounded-full border border-black bg-black/30 px-3 py-1 backdrop-blur-xl;
          }
        }
      }

      .border-color-animation {
        --borderWidth: 3px;
        @apply relative;
      }

      .border-color-animation:after {
        content: "";
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: calc(100% + var(--borderWidth) * 2);
        width: calc(100% + var(--borderWidth) * 2);
        background: linear-gradient(
          60deg,
          var(--yellow),
          var(--orange),
          var(--pink),
          var(--purple),
          var(--blue),
          var(--cyan),
          var(--green),
          var(--lime)
        );
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
        @apply absolute -z-10 rounded-full;
      }

      @keyframes animatedgradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    </style>
  </body>
</html>
