---
import "@fontsource-variable/onest";

import { ViewTransitions } from "astro:transitions";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import SEO_DEFAULTS from "@/constants/seo";

interface Props {
  title?: string;
  description?: string;
}

const { description = SEO_DEFAULTS.description, title = SEO_DEFAULTS.title } =
  Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth font-sans motion-reduce:scroll-auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body
    class="antialised relative flex min-h-[100dvh] flex-col overscroll-none text-stone-950/90 dark:text-stone-100"
  >
    <div
      class="absolute inset-y-0 z-[-2] min-h-screen w-full bg-neutral-100 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))] dark:bg-neutral-950
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      #header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }

      @keyframes blur {
        to {
          @apply backdrop-blur-xl border border-black bg-slate-50 px-3 py-1 flex flex-row items-center rounded-full;
        }
      }

      @media (prefers-color-scheme: dark) {
        @keyframes blur {
          from {
            @apply border-0
          }
          to {
            box-shadow:
              0px 5px 50px -5px rgba(0, 0, 0, 0.1),
              0px 0px 0 1px rgba(0, 0, 0, 0.3);

            @apply bg-black/30 backdrop-blur-xl border border-black px-3 py-1 flex flex-row items-center rounded-full;
          }
        }
      }

      .link-active {
        @apply bg-white/40 font-semibold dark:bg-white/15 shadow-lg shadow-white/20 backdrop-blur-2xl;
      }
    </style>
  </body>
</html>
